{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
  <title>Document</title>
</head>
<body>
  <h1>Wish List Items</h1>
  {% if item_list|length == 0 %}
<h2>no wish list items exist</h2>
{% else %}
<table class="pure-table pure-table-striped">
  <thead>
    <tr>
      <th>Description</th>
      <th>Delete</th>
    </tr>
  </thead>
{% for item in item_list%}
<tr>
  <td><h3>{{item.description}}</h3></td>
  <td><a href="delete/{{item.id}}">Delete</a></td>
</tr>
  
{% endfor %}
</table>
{% endif %}
<a class="pure-button" href="create">Add Wish List Item</a>
</body>
</html>